.filters {
  margin-top: .3rem;
  padding: .25rem 2rem;
  background-color: $gray;
  vertical-align: middle;
}

.filters span {
  display: inline-block;
  margin-left: 1.5rem;
  padding-bottom: .25rem;
  font-size: $font-size-smaller;
  text-transform: uppercase;
  color: $white;
  cursor: default;
  transition: color .1s;
  vertical-align: middle;
}

.filters span:hover {
  color: $dark-gray;
  cursor: pointer;
}
