.navbar {
  background-color: $light-gray;
}

.navbar .tabs {
  @extend .content;
}

.navlink {
  display: inline-block;
  width: 170px;
  margin-right: .5rem;
  padding-top: .35rem;
  padding-bottom: .35rem;
  font-size: $font-size-small;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $dark-gray;
  color: $white;
  transition: background-color .3s;
}

.navlink:last-child {
  margin-right: 0;
}

.navlink.active {
  background-color: $black;
}
