//-------------------------------------
// COLORS
//-------------------------------------
$black: #1a1a1a;
$white: #f6f6f9;

$gray-heavy: #7c7c7c;
$gray: #b7b7b7;
$gray-light: #ddd;

$green: #70b348;
$green-hover: #5e973d;

//-------------------------------------
// FONTS
//-------------------------------------
$font-family-serif: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$font-family-sans-serif: Futura, 'Trebuchet MS', Arial, sans-serif;
