//-------------------------------------
// COLORS
//-------------------------------------
$black: #1a1a1a;
$white: #fcfcfc;

$dark-gray: #7c7c7c;
$gray: #b7b7b7;
$light-gray: #ddd;

$green: #70b348;
$green-hover: #5e973d;

$red: #9d0000;

$blue: #000089;

//-------------------------------------
// FONTS
//-------------------------------------
$font-family-serif: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$font-family-sans-serif: Futura, 'Trebuchet MS', Arial, sans-serif;

$font-size-smaller: .75rem; // 12px
$font-size-small:   .875rem; // 14px
$font-size-base:    1rem; // 16px

//-------------------------------------
// SIZES
//-------------------------------------
$content-width: 1240px;
