.settings {
  h2 {
    margin-top: 2rem;

    &.with-button {
      display: inline-block;
    }
  }

  .add-button {
    top: 38px;
  }

  .remove-button {
    top: 33px;
  }

  .labor-cost {
    width: 110px;
    padding: .4rem;
    margin-right: 1rem;
  }
}
