//-------------------------------------
// DEFAULT TABLE
//-------------------------------------
table {
  width: 100%;
  margin: auto;
  font-family: $font-family-serif;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

tr:nth-child(even) {
  background-color: $light-gray;
}

th {
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-family: $font-family-sans-serif;
  font-size: $font-size-smaller;
  text-transform: uppercase;
}

td {
  font-size: $font-size-small;
}

th,
td {
  border-right: 1px solid $dark-gray;

  &:last-child {
    border: none;
  }
}

td a {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: .3rem;
  padding-bottom: .3rem;
  text-decoration: none;
  color: $black;
}

.extra-wide {
  width: 300px;
}

//-------------------------------------
// TABLE WITH SELECTABLE ROWS
//-------------------------------------
table.row-select .table-row {
  cursor: pointer;

  &:hover {
    background-color: $gray;
  }
}

//-------------------------------------
// SINGLE ROW TABLE
//-------------------------------------
table.single {
  th {
    font-weight: normal;
  }

  td {
    padding-top: .3rem;
    padding-bottom: .3rem;
    cursor: pointer;

    &:hover {
      background-color: $gray;
    }
  }

  th,
  td {
    border: none;
  }

  .table-row:hover {
    background-color: $light-gray;
  }
}

//-------------------------------------
// TABLES WITHIN PAGES
//-------------------------------------
table.inner {
  th {
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: $white;
    font-weight: normal;
    background-color: $dark-gray;
  }

  td {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .table-row {
    cursor: default;
  }
}

//-------------------------------------
// EDITABLE CELLS
//-------------------------------------
table td.editing {
  padding: 0;
}

td.editing input {
  display: block;
  width: 100%;
  border: 1px solid gray;
  line-height: 18px;
  text-align: center;

  &:focus {
    outline: none;
  }
}
